.mainSort select{
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;

    left:8%;
}

.mainSort select option{
    font-size: 12px;
    font-weight: bold;
    width: 3px;
}

label{
    color:#6c6464;
    font-size:15px;
}
